*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    background: url(img/fondo_tareas.jpg) no-repeat center cover/ cover;
}

.contenedor{
    width: 700px;
    min-height: 500px;
    background-color: white;
    padding: 40px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

input{
    width: 80%;
    height: 50px;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    border: 4px solid #404040;
    border-radius: 10px;
}

button{
    width: 150px;
    height: 60px;
    padding: 10px;
    color: white;
    background-color: #1312a8;
    font-size: 22px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    user-select: none;
}

/* lista de tareas */

#lista-de-tareas{
    width: 80%;
    margin-top: 20px;
}

.tarea{
    width: 100%;
    min-height: 70px;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #407ba6;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.tarea.completada{
    text-decoration: line-through;
    background-color: black;
    border: none;
}

.tarea p{
    max-width: 350px;

}

i{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.icono-completar{
    color: rgb(0, 255, 0)
}

.icono-eliminar{
    color: white;
}

.icono-eliminar:hover,
.icono-completor:hover{
    background-color: rgba(255,255,255,0.5);
}