*{
  padding: 0;
  margin: 0;

}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("img/fondo_crono.jpg") no-repeat center center/ cover;
  color: white;
}

.contenedor-principal{
  width: 80vw;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white 0;
}

.contenedor-botones{
  padding: 20px;
}

#cronometro{
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton{
  width: 80px;
  height: 80px;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#boton-inicio-pausa.iniciar, 
#boton-inicio-pausa.iniciar i{
  background-color: #08e008;
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i{
  background-color: #ffdc00;
}

#boton-reiniciar{
  background-color: red;
}